numpy==1.23.3
pandas==1.5.0
scikit-learn==1.1.2
matplotlib==3.6.0
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
jupyter==1.0.0
tensorboard==2.10.1
patchify==0.2.3
opencv-python==4.6.0.66
scikit-image==0.19.3
jupyterlab==3.4.8
